
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header ::head">
    <meta charset="UTF-8">
    <title>delete ad</title>
</head>
<body>
<h2>Create Post</h2>

        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">

<br>

            <br>
            Title
            <input th:field="*{title}">
            <br>
            Body
            <input th:field="*{body}">


            <!--            <p th:text="${post.body}"></p>-->
            <!--            <p th:text="${post.id}" hidden></p>-->


            <button type="submit" value="createPost" >create</button>

        </form>

</body>
</html>