


<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header ::head">
    <meta charset="UTF-8">
    <title>Update Ad</title>
</head>

<nav th:replace="fragments/partials:: mainNav">

</nav>

<h6>View individual Post</h6>
<body>
<main class="container">
    <div class="post">


        <form th:action="@{'/posts/'+ ${post.id} +'/update'}" th:method="post" th:object="${post}">

            <label>
                Title
                <input th:field="*{title}" >
            </label>
<br>
            <br>
            <label>
                Body
                <input th:field="*{body}" >
            </label>
<br>
            <!--            <label for="post.id">post.ID</label>-->
<!--            <input type="text" name ="post.id" id="post.id">-->
<!--            <p th:text="${post.body}"></p>-->
<!--            <p th:text="${post.id}" hidden></p>-->


            <button type="submit"  >edit</button>

        </form>
    </div>
</main>
</body>
</html>