


<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:include="fragments/header ::head">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update Ad</title>-->
<!--</head>-->

<!--<nav th:replace="fragments/partials:: mainNav">-->

<!--</nav>-->

<!--<h6>View individual Post</h6>-->
<!--<body>-->
<!--<main class="container">-->
<!--    <div class="post">-->


<!--        <form th:action="@{'/posts/'+ ${post.id} +'/edit'}" th:method="post" th:object="${post}">-->

<!--            <label>-->
<!--                Title-->
<!--                <input th:field="*{title}" >-->
<!--            </label>-->
<!--<br>-->
<!--            <br>-->
<!--            <label>-->
<!--                Body-->
<!--                <input th:field="*{body}" >-->
<!--            </label>-->
<!--<br>-->
<!--            &lt;!&ndash;            <label for="post.id">post.ID</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name ="post.id" id="post.id">&ndash;&gt;-->
<!--&lt;!&ndash;            <p th:text="${post.body}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p th:text="${post.id}" hidden></p>&ndash;&gt;-->


<!--            <button type="submit"  >edit</button>-->

<!--        </form>-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->