


<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h6>View individual Post</h6>

<main class="container">
    <div class="post">

        <form action="/posts" method="post">

            <h1 th:text="${post.title}"></h1>
            <p th:text="${post.body}"></p>
            <p th:text="${post.id}" hidden></p>

            <button type="submit" name="delete" id= "delete" >delete</button>
        </form>
    </div>
</main>
</body>
</html>