


<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials ::head">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<h6>View individual Post</h6>

<main class="container">
    <div class="post">



                <h1 th:text="${post.title}"></h1>
                <p th:text="${post.body}"></p>
                <p th:text="${post.id}" hidden></p>
        <form th:action="${'/post/'+post.id+'/delete'}" method="POST">
            <button type="submit" name="delete" id= "delete" th:value="${post.id}"  >delete</button>


        </form>
    </div>
</main>
</body>
</html>