


<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header ::head">

<title>Individual post</title>
</head>
<body>
<h6>View individual Post</h6>

<main class="container">
    <div class="post">



                <h1 th:text="${post.title}"></h1>
                <p th:text="${post.body}"></p>
        <p>Contact me at <span th:text="${post.owner.email}"></span></p>
    </div>

        <form th:action="${'/posts/'+ post.id +'/delete'}" method="POST">
            <button type="submit"  value="delete post" >delete</button>


        </form>

</main>
</body>
</html>