<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h6>Your guess<span th:text="${n}">1</span> </h6>
<br>
<h6>Dice roll <span th:text="${randomNumber}">1</span></h6>
<h2 th:text="${message}"></h2>
<br>
<br>
<h4>Guess another number</h4>
<ul>
    <li><a th:href="@{/roll-dice/1}" >1</a></li>
    <li><a th:href="@{/roll-dice/2}" >2</a></li>
    <li><a th:href="@{/roll-dice/3}" >3</a></li>
    <li><a th:href="@{/roll-dice/4}" >4</a></li>
    <li><a th:href="@{/roll-dice/5}" >5</a></li>
    <li><a th:href="@{/roll-dice/6}" >6</a></li>

    </ul>

    </body>
    </html>